@page
@model Website_Plant.Pages.aboutusModel
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/aboutus.css" />
}
@{
    ViewData["NoContainer"] = true;
}
<div class="about-us">
    <div class="our-story">
        <img class="image" src="../img/img bg.png" />
        <div class="headline-large"><div class="title">Câu chuyện</div></div>
        <p class="p">
            Với tình yêu thiên nhiên và sự tận tâm trong việc chăm sóc cây trồng, vào năm 2020, chúng tôi đã bắt đầu một
            cửa hàng cây cảnh nhằm giúp mọi người chọn lựa những loại cây yêu thích và góp phần biến thành phố trở thành
            một thế giới xanh.
        </p>
        <div class="flexcontainer">
            <p class="text">
                <span class="text-wrapper-5">Chỉ trong vòng 4 năm<br /></span>
            </p>
            <p class="text"><span class="text-wrapper-6">Nhưng lan tỏa được đam mê cây trồng tới mọi người</span></p>
        </div>
        <div class="group-wrapper">
            <div class="group-2">
                <div class="text-wrapper-7">10,000 +</div>
                <div class="text-wrapper-8">2000 +</div>
                <div class="text-wrapper-9">100%</div>
                <div class="text-wrapper-10">Cây được bán</div>
                <div class="text-wrapper-11">Đánh giá tốt</div>
                <div class="text-wrapper-12">Chất lượng</div>
            </div>
        </div>
    </div>
    <div class="overlap-2">
        <div class="staff">
            <p class="body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et in sed in pellentesque ornare nunc nisl.
            </p>
            <div class="text-wrapper-13">Quản lý cửa hàng</div>
            <div class="text-wrapper-14">Người làm vườn</div>
            <div class="text-wrapper-15">Nhân viên bán hàng</div>
            <p class="body-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et in sed in pellentesque ornare nunc nisl.
            </p>
            <p class="body-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et in sed in pellentesque ornare nunc nisl. Augue
                habitant accumsan, ut parturient orci ac etiam congue mi.
            </p>
            <img class="rectangle" src="../img/Rectangle 108.png" />
            <img class="img" src="../img/Rectangle 109.png" />
            <img class="rectangle-2" src="../img/Rectangle 110.png" />
            <div class="text-wrapper-16">Thành viên</div>
        </div>
        <div class="review">
            <div class="text-wrapper-17">Đánh giá khách hàng</div>
            <div class="overlap-3">
                <div class="rectangle-3"></div>
                <div class="text-wrapper-18">Xing Hua</div>
                <img class="ellipse" src="../img/Ellipse 65.png" />
                <p class="text-wrapper-19">“ Great service and quality from the plant. I really love it ”</p>
                <div class="text-wrapper-20">“</div>
            </div>
            <div class="overlap-4">
                <div class="rectangle-4"></div>
                <img class="ellipse-2" src="../img/Ellipse 66.png" />
                <p class="text-wrapper-21">
                    “ Love this place! Great selection and the plants always thrive. Highly recommend!”
                </p>
                <div class="text-wrapper-22">Mark Tuan</div>
                <div class="text-wrapper-23">“</div>
            </div>
            <div class="overlap-5">
                <div class="rectangle-5"></div>
                <img class="ellipse-3" src="../img/Ellipse 67.png" />
                <div class="text-wrapper-24">Thomas Grey</div>
                <p class="text-wrapper-25">“ Best plant shop i’ve ever bought”</p>
                <div class="text-wrapper-26">“</div>
            </div>
            <div class="overlap-6">
                <div class="rectangle-6"></div>
                <img class="ellipse-4" src="../img/Ellipse 68.png" />
                <p class="text-wrapper-27">“ Amazing plant selection and excellent customer service. Really recommend”</p>
                <div class="text-wrapper-28">Emma Waston</div>
                <div class="text-wrapper-29">“</div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="overlap-7">
            <div class="overlap-wrapper">
                <div class="overlap-7">
                    <p class="text-wrapper-30">2024 - Home Sweet Garden</p>
                    <img class="line" src="img/line-4-2.svg" />
                    <div class="text-wrapper-31">Home Sweet Garden</div>
                    <p class="text-wrapper-32">2024 - Home Sweet Garden</p>
                    <img class="line-2" src="img/line-3.svg" />
                    <div class="text-wrapper-33">Home</div>
                    <div class="text-wrapper-34">Plants</div>
                    <div class="text-wrapper-35">About Us</div>
                    <img class="phone" src="img/phone.svg" />
                    <img class="location" src="img/location.svg" />
                    <div class="text-wrapper-36">+ 84 1234098765</div>
                    <p class="text-wrapper-37">Hoàn Kiếm , Hà Nội , Việt Nam</p>
                    <img class="fb" src="img/fb.png" />
                    <img class="ig" src="img/ig.png" />
                    <img class="twitter" src="img/twitter.png" />
                    <div class="overlap-wrapper">
                        <div class="overlap-8">
                            <div class="overlap-group-wrapper">
                                <div class="overlap-group-2">
                                    <img class="line-3" src="img/line-1.svg" />
                                    <img class="line-4" src="img/line-4.svg" />
                                    <div class="menu">Danh sách</div>
                                    <div class="home">Trang chủ</div>
                                    <div class="plants">Sản phẩm</div>
                                    <div class="text-wrapper-38">+84 0987 6543</div>
                                    <div class="text-wrapper-39">Về chúng tôi</div>
                                    <p class="hanoi-architecture">Đại học Kiến Trúc Hà Nội</p>
                                    <div class="contacts">Liên hệ</div>
                                    <p class="text-wrapper-40">2024 - Home Sweet Garden</p>
                                    <img class="line-5" src="img/line-3-2.svg" />
                                    <img class="vector" src="img/vector.svg" />
                                </div>
                            </div>
                            <img class="location-2" src="img/image.svg" />
                            <img class="phone-2" src="img/phone-2.svg" />
                            <img class="fb-2" src="img/fb-2.png" />
                            <img class="twitter-2" src="img/image.png" />
                        </div>
                    </div>
                </div>
            </div>
            <img class="logo-2" src="img/logo.png" />
        </div>
    </div>
</div>
