@page
@model Website_Plant.Pages.aboutusModel
@section Styles {
    <link rel="stylesheet" href="~/css/aboutus.css" />
}
@{
    ViewData["NoContainer"] = true;
}
<body>
    <main>
        <section class="news">
            <img src="~/img/bg.png" alt="" class="bg" />
            <div class="news-container">
                <div class="news-above">We are</div>
                <div class="news-below">"Home sweet garden"</div>
            </div>
        </section>

        <section class="story">
            <div class="story-left">
                <div class="story-title">Câu chuyện</div>
                <div class="story-4year">Chỉ trong vòng 4 năm</div>
                <div class="story-desc1">Nhưng lan tỏa được đam mê cây trồng tới mọi người</div>
                <div class="story-desc2">
                    Với tình yêu thiên nhiên và sự tận tâm trong việc chăm
                    sóc cây trồng, vào năm 2020, chúng tôi đã bắt đầu một
                    cửa hàng cây cảnh nhằm giúp mọi người chọn lựa những
                    loại cây yêu thích và góp phần biến thành phố trở thành
                    một thế giới xanh.
                </div>
            </div>

            <div class="story-right">
                <img src="~/img/story.png" class="story-image" />
            </div>
        </section>

        <section class="stat">
            <div class="stat-container">
                <div class="stat-items">
                    <div class="stat-item1">10,000+</div>
                    <div class="stat-item2">Cây bán được</div>
                </div>
                <div class="stat-items">
                    <div class="stat-item1">2000+</div>
                    <div class="stat-item2">Đánh giá tốt</div>
                </div>
                <div class="stat-items">
                    <div class="stat-item1">100%</div>
                    <div class="stat-item2">Chất lượng</div>
                </div>
            </div>
        </section>

        <section class="members">
            <div class="members-title">Thành viên</div>

            <div class="memeber-list">
                <div class="member-items">
                    <div class="member-items--left">
                        <img src="~/img/member1.png" class="member-image" /></div>
                    <div class="member-items--right">
                        <div class="member_left--title">Quản lý cửa hàng</div>
                        <div class="member_left--desc">
                            Quản lý của Home Sweet Garden là người dẫn dắt, chăm sóc mọi hoạt động và tư vấn, giúp khách hàng chọn cây phù hợp, đồng thời lan tỏa tình yêu thiên nhiên tới mọi người.
                        </div>
                    </div>
                </div>
            </div>

            <div class="memeber-list">
                <div class="member-items">
                    <div class="member-items--right">
                        <div class="member_left--title member-add1">Người làm vườn</div>
                        <div class="member_right--desc member-add2">
                            Người làm vườn tại Home Sweet Garden là những chuyên gia tận tâm, am hiểu về cây cối, từ chăm sóc đến tạo hình. Họ không chỉ giữ cho cây luôn xanh tốt mà còn mang lại không gian sống động và đầy sức sống cho cửa hàng.
                        </div>
                    </div>
                    <div class="member-items--right">
                        <img src="~/img/member2.png"class="member-image" /></div>
                </div>
            </div>

            <div class="memeber-list">
                <div class="member-items">
                    <div class="member-items--left">
                        <img src="~/img/member3.png"class="member-image" /></div>
                    <div class="member-items--right">
                        <div class="member_left--title">Nhân viên bán hàng</div>
                        <div class="member_left--desc">
                            Nhân viên bán hàng tại Home Sweet Garden là những người nhiệt tình và am hiểu về cây cối. Họ sẵn sàng tư vấn, giúp khách hàng chọn lựa những loại cây phù hợp nhất, mang đến trải nghiệm mua sắm thân thiện và đáng nhớ.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="review">
            <div class="members-title review-title123">
                Đánh giá khách hàng
            </div>
            <div class="haha221">
                <div class="review-box review-box-1">
                    <img src="~/img/Ellipse 65.png" class="review-img" />
                    <div class="review-container">
                        <div class="review-title">Xing Hua</div>
                        <div class="review-paah">""</div>
                    </div>
                    <div class="review-desc review-desc3">
                        “ Dịch vụ và chất lượng cây trồng rất tốt. Mình rất thích ❤️”
                    </div>
                </div>
            </div>
            <div class="haha221">
                <div class="review-box review-box-2">
                    <img src="~/img/Ellipse 67.png" class="review-img review-img1" />
                    <div class="review-container">
                        <div class="review-paah review-paah1">""</div>
                        <div class="review-title review-title1">Mark Tuan</div>
                    </div>
                    <div class="review-desc review-desc1">
                        “ Shop là sự lựa chọn tuyệt vời. Rất gợi ý cho mọi người nha!!”
                    </div>
                </div>
            </div>
            <div class="haha221">
                <div class="review-box review-box-1">
                    <img src="~/img/Ellipse 66.png" class="review-img" />
                    <div class="review-container">
                        <div class="review-title">Emma Waston</div>
                        <div class="review-paah">""</div>
                    </div>
                    <div class="review-desc">
                        “ Cây trồng và chăm sóc khách hàng rất tuyệt vời. Sẽ mua lại nhiều lần ”
                    </div>
                </div>
            </div>

            <div class="haha221">
                <div class="review-box review-box-2">
                    <img src="~/img/Ellipse 68.png" class="review-img review-img1" />
                    <div class="review-container">
                        <div class="review-paah review-paah1">""</div>
                        <div class="review-title review-title1">Thomas Grey</div>
                    </div>
                    <div class="review-desc review-desc1">
                        “ Shop cây trồng tuyệt vời ”
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>