@page
@model CartModel
@section Styles {
    <link rel="stylesheet" href="~/css/Cart.css" />
}
@{
    ViewData["NoContainer"] = true;
}

<body>
    <div class="cart-container">
        <div class="Tieude">
            <h1>Giỏ hàng</h1>
        </div>
        <div class="cart">
            <div class="cart-items">
                <table>
                    <tr>
                        <th>Sản phẩm</th>
                        <th></th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><img src="/image/avatar.png" alt="Day nhen"></td>
                        <td>
                            <p style="font-weight:bold;  font-size:20px;">Cây dây nhện</p>
                            <p>100.000đ</p>
                        </td>
                        <td>
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </td>
                        <td><p1>100.000đ</p1></td>
                        <td><button><i class="bi bi-trash"></i></button></td>
                    </tr>

                    <tr>
                        <td><img src="/image/avatar.png" alt="Day nhen"></td>
                        <td>
                            <p style="font-weight:bold;  font-size:20px;">Cây dây nhện</p>
                            <p>100.000đ</p>
                        </td>
                        <td>
                            <button> - </button>
                            <span>1</span>
                            <button> + </button>
                        </td>
                        <td><p1>100.000đ</p1></td>
                        <td><button><i class="bi bi-trash"></i></button></td>
                    </tr>

                    <tr>
                        <td><img src="/image/avatar.png" alt="Day nhen"></td>
                        <td>
                            <p style="font-weight:bold;  font-size:20px;">Cây dây nhện</p>
                            <p>100.000đ</p>
                        </td>
                        <td>
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </td>
                        <td><p1>100.000đ</p1></td>
                        <td><button><i class="bi bi-trash"></i></button></td>
                    </tr>


                </table>
              </div>
            <div class="cart-summary">
                <h2>Địa chỉ giao hàng</h2>
                <input type="text" placeholder="Nhập địa chỉ">
                <h2>Chọn phương thức thanh toán</h2>
                <select>
                    <option value="COD">COD</option>
                    <option value="VNPAY">VNPAY</option>
                    
                </select>

                <div class="summary-details">
                    <p>Tổng đơn hàng: <span>0</span></p>
                    <p>Phí vận chuyển: <span>0</span></p>
                    <p>Tổng thanh toán: <span>0</span></p>
                </div>
                <button class="checkout-btn">Thanh toán</button>
            </div>
        </div>
    </div>
</body>
