@page
@model Website_Plant.Pages.contactusModel

@section Styles {
    <link rel="stylesheet" href="~/css/contact.css" />
}

<body>
    <div class="container">
        <form>
            <h1>Liên hệ với chúng tôi</h1>
            <input type="text" id="firstName" placeholder="Họ & Tên" required />
            <input type="text" id="phone" placeholder="SĐT" required />
            <input type="email" id="email" placeholder="Email" required />
            <h4>Hãy viết lời nhắn ở đây nhé ❤️</h4>
            <textarea required></textarea>
            <a href ="index"><input type="button" value="Trở lại" id="button" /></a>
            <input type="submit" value="Gửi đi" id="button" />
        </form>
    </div>
</body>