@page
@model Website_Plant.Pages.detailModel
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/detail.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
}

<body>
    <main>
            <section class="smile">
                <div class="smile-container">
                    <div class="div1">Plants ></div>
                    <div class="div2">Spider Plant</div>
                </div>
            </section>

            <section class="products">
                <div class="products_container">
                    <div class="products_container--left">
                        <img src="~/img/product.png"
                            alt=""
                            class="product_img"
                        />
                    </div>
                    <div class="products_container--right">
                        <div class="products_container--title">Sản phẩm</div>
                        <div class="products_container--price">70.000 ₫</div>
                        <div class="products_container--1">Danh mục</div>
                        <div class="products_container--name">
                            Cây trong nhà
                        </div>
                        <div class="products_container--cart">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 576 512"
                                width="30px"
                                height="30px"
                                class="svg"
                            >
                                <path
                                    fill="#dcdfe5"
                                    d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
                                />
                            </svg>
                            <div class="products_cartTitle">Thêm vào giỏ</div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tapa">
                <div class="tapa-container">
                    <div class="tapa-left">
                        <img
                            src="~/img/1.png"
                            alt=""
                            class="tapa-img1"
                        />
                        <div class="tapa-container-left">
                            <div class="tapa-contain">
                                <div class="test-tapa">
                                    <img
                                        src="~/img/sun.png"
                                        alt=""
                                        class="img-icon"
                                    />
                                    <div class="tapa_test--desc">High</div>
                                </div>
                                <div class="test-tapa">
                                    <img src="~/img/water.png"
                                        alt=""
                                        class="img-icon"
                                    />
                                    <div
                                        class="tapa_test--desc tapa_test--desc1"
                                    >
                                        200 - 350 ml
                                    </div>
                                </div>
                                <div class="test-tapa">
                                    <img
                                        src="~/img/taoa.png"
                                        alt=""
                                        class="img-icon"
                                    />
                                    <div
                                        class="tapa_test--desc tapa_test--desc2"
                                    >
                                        22 - 28 C
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img
                            src="~/img/2.png"
                            alt=""
                            class="tapa-img2"
                        />
                    </div>
                    <div class="tapa-right">
                        <div class="tapa_right--title">Mô tả</div>
                        <div class="tapa_right--desc">
                            Cây dây nhện (Chlorophytum comosum) là một loại cây
                            trồng trong nhà phổ biến, nổi tiếng với khả năng lọc
                            không khí, dễ chăm sóc và vẻ ngoài bắt mắt. Có nguồn
                            gốc từ Nam Phi, loài cây này là sự lựa chọn quen
                            thuộc trong nhiều gia đình và văn phòng trên toàn
                            thế giới.
                        </div>
                    </div>
                </div>
            </section>

            <img src="~/img/Line 25.png" alt="" class="seprate" />

            <div class="review">
                <div class="review-title">Đánh giá sản phẩm</div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author1.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author2.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/likeColor.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author3.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author4.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author5.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/likeColor.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author6.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <img src="~/img/Line 25.png" alt="" class="seprate1" />

            <div class="favorite">
                <div class="favorite_title">Có thể bạn sẽ thích</div>
                <div class="containerflower">
                    <img src="~/img/Frame 40.png"
                        alt=""
                        class="imgflower"
                    />
                </div>
            </div>
        </main>
    </body>