@page
@model Website_Plant.Pages.detailModel
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/detail.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
}

<body>
        <main>
            <section class="smile">
                <div class="smile-container1">
                    <div class="div1">Plants ></div>
                    <div class="div2">Spider Plant</div>
                </div>
            </section>

            <section class="products">
                <div class="products_container">
                    <div class="products_container--left">
                        <img
                            src="~/img/product.png"
                            alt=""
                            class="product_img"
                        />
                    </div>
                    <div class="products_container--right">
                        <div class="products_container--title">Sản phẩm</div>
                        <div class="products_container--price">70.000 ₫</div>
                        <div class="products_container--1">Danh mục</div>
                        <div class="products_container--name">
                            Cây trong nhà
                        </div>
                        <div class="products_container--cart">
                            <div class="products_cartTitle">Thêm vào giỏ</div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tapa">
                <div class="tapa-container">
                    <div class="tapa-left">
                        <img
                            src="~/img/1.png"
                            alt=""
                            class="tapa-img1"
                        />
                        <div class="tapa-container-left">
                            <div class="tapa-contain">
                                <div class="test-tapa">
                                    <img
                                        src="~/img/sun.png"
                                        alt=""
                                        class="img-icon"
                                    />
                                    <div class="tapa_test--desc">High</div>
                                </div>
                                <div class="test-tapa">
                                    <img
                                        src="~/img/water.png"
                                        alt=""
                                        class="img-icon"
                                    />
                                    <div
                                        class="tapa_test--desc tapa_test--desc1"
                                    >
                                        200 - 350 ml
                                    </div>
                                </div>
                                <div class="test-tapa">
                                    <img
                                        src="~/img/taoa.png"
                                        alt=""
                                        class="img-icon"
                                    />
                                    <div
                                        class="tapa_test--desc tapa_test--desc2"
                                    >
                                        22 - 28 C
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img
                            src="~/img/2.png"
                            alt=""
                            class="tapa-img2"
                        />
                    </div>
                    <div class="tapa-right">
                        <div class="tapa_right--title">Mô tả</div>
                        <div class="tapa_right--desc">
                            Cây dây nhện (Chlorophytum comosum) là một loại cây
                            trồng trong nhà phổ biến, nổi tiếng với khả năng lọc
                            không khí, dễ chăm sóc và vẻ ngoài bắt mắt. Có nguồn
                            gốc từ Nam Phi, loài cây này là sự lựa chọn quen
                            thuộc trong nhiều gia đình và văn phòng trên toàn
                            thế giới.
                        </div>
                    </div>
                </div>
            </section>

            <img src="./assets/img/Line 25.png" alt="" class="seprate" />

            <div class="review">
                <div class="review-title">Đánh giá sản phẩm</div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author1.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="./assets/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like review-like-zzz"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author2.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/likeColor.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author3.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author4.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author5.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/likeColor.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author6.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <img src="~/img/Line 25.png" alt="" class="seprate1" />

            <div class="favorite">
                <div class="favorite_title">Có thể bạn sẽ thích</div>

                <img src="~/img/Frame 40.png" alt="" class="imgflower" />
            </div>
        </main>
    </body>