@page
@model Website_Plant.Pages.detailModel
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/detail.css" />
}

<body>
    <main>
        <table class="product-table">
            <tbody>
                <tr>
                    <td class="products_container--left">
                        <img src="~/img/product.png" alt="Product Image" class="product_img" />
                    <td class="table1">
                        <table class="note">
                            <tr>
                                <td>
                                    <img src="~/img/sun.png" alt="" class="img-icon" />
                                </td>
                                <td>
                                    <img src="~/img/water.png" alt="" class="img-icon" />
                                </td>
                                <td>
                                    <img src="~/img/taoa.png" alt="" class="img-icon" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hight
                                </td>
                                <td>
                                    200 - 350 ml
                                </td>
                                <td>
                                    22 - 28 C
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="sanpham">
                        <div class="products_container--title"> Tên sản phẩm</div>
                        <div class="products_container--price">70.000 ₫</div>
                        <div class="products_container--1">Danh mục</div>
                        <div class="products_container--name">Cây trong nhà</div>
                        <div class="products_container--cart">
                            <div class="products_cartTitle">
                                <i class="bi bi-bag"></i>Thêm vào giỏ
                            </div>
                        </div>
                        <div class="tapa-right">
                            <div class="tapa_right--desc">
                                Cây dây nhện (Chlorophytum comosum) là một loại cây
                                trồng trong nhà phổ biến, nổi tiếng với khả năng lọc
                                không khí, dễ chăm sóc và vẻ ngoài bắt mắt. Có nguồn
                                gốc từ Nam Phi, loài cây này là sự lựa chọn quen
                                thuộc trong nhiều gia đình và văn phòng trên toàn
                                thế giới
                            </div>
                            <div class="tapa_right--desc1">
                                <ul>
                                    <li>Cách chăm sóc:</li>
                                    <li>Ánh sáng: Cần ánh sáng trực tiếp</li>
                                    <li>Tưới nước: Tuới 1 lần/tuần hoặc đất khô hoàn toàn.</li>
                                    <li>Đất trồng: Dùng đất tơi xốp.</li>
                                    <li>Phân bón: 1-2 tháng/lần trong mùa sinh trưởng.</li>
                                    <li>Nhiệt độ: Từ 20-30°C, tránh lạnh dưới 10°C.</li>
                                    <li>Độ ẩm: Thấp, không phun sương.</li>
                                    <li>Cắt tỉa: Cành hỏng, vàng.  </li>
                                    <li>Sâu bệnh: Kiểm tra thường xuyên.</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
           
            <img src="~/img/Line 25.png" alt="" class="seprate" />

            <div class="review">
                <div class="review-title">Đánh giá sản phẩm</div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author1.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author2.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/likeColor.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author3.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author4.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-container">
                    <div class="review-container__left">
                        <img
                            src="~/img/author5.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/likeColor.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="review-container__left">
                        <img
                            src="~/img/author6.png"
                            alt=""
                            class="review-author"
                        />
                        <div class="review-stat">
                            <div class="review-statcontainer">
                                <div class="review-allcontainer">
                                    <div class="review-container1">
                                        <div class="review-statName">
                                            Aron Paul
                                        </div>
                                        <img
                                            src="~/img/star.png"
                                            alt=""
                                            class="review-star"
                                        />
                                    </div>
                                    <div class="review-encourge">Very good</div>
                                </div>
                                <img
                                    src="~/img/like.png"
                                    alt=""
                                    class="review-like"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>