@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="detail">
    <div class="plants">Plants &gt;</div>
    <div class="text-wrapper">Spider Plant</div>
    <img class="rectangle" src="../img/Rectangle 111.png" />
    <p class="div">
        Cây dây nhện (Chlorophytum comosum) là một loại cây trồng trong nhà phổ biến, nổi tiếng với khả năng lọc không
        khí, dễ chăm sóc và vẻ ngoài bắt mắt. Có nguồn gốc từ Nam Phi, loài cây này là sự lựa chọn quen thuộc trong
        nhiều gia đình và văn phòng trên toàn thế giới.
    </p>
    <div class="text-wrapper-2">Đánh giá sản phẩm</div>
    <img class="img" src="../img/Rectangle 100.png" />
    <div class="text-wrapper-3">Aron Paul</div>
    <div class="text-wrapper-4">Very good</div>
    <div class="group">
        <div class="group-2">
            <img class="star" src="../img/Frame2.png" />
            <div class="text-wrapper-5">4</div>
        </div>
    </div>
    <div class="group-3">
        <img class="image" src="../img/image 11.png" />
        <div class="text-wrapper-6">3</div>
    </div>
    <div class="group-4">
        <img class="image" src="img/image-11.png" />
        <div class="text-wrapper-6">4</div>
    </div>
    <img class="rectangle-2" src="../img/Rectangle 114.png" />
    <div class="text-wrapper-7">Lucy Heartfillia</div>
    <div class="text-wrapper-8">Beautifull</div>
    <div class="group-wrapper">
        <div class="group-5">
            <img class="star" src="../img/image 21.png" />
            <div class="text-wrapper-9">4.5</div>
        </div>
    </div>
    <img class="rectangle-3" src="../img/Rectangle 115.png" />
    <div class="text-wrapper-10">Alexa Cara</div>
    <div class="text-wrapper-11">Very good</div>
    <div class="div-wrapper">
        <div class="group-6">
            <img class="star" src="img/star-4.svg" />
            <div class="text-wrapper-12">4.3</div>
        </div>
    </div>
    <div class="group-7">
        <img class="image" src="img/image-11-2.png" />
        <div class="text-wrapper-13">6</div>
    </div>
    <div class="group-8">
        <img class="image" src="img/image-11-4.png" />
        <div class="text-wrapper-13">8</div>
    </div>
    <img class="rectangle-4" src="../img/Rectangle 117.png" />
    <div class="text-wrapper-14">James Mark</div>
    <div class="text-wrapper-15">Unbelievable</div>
    <div class="group-9">
        <div class="group-2">
            <img class="star" src="img/star-4-3.svg" />
            <div class="text-wrapper-5">5</div>
        </div>
    </div>
    <img class="rectangle-5" src="../img/Rectangle 118.png" />
    <div class="text-wrapper-16">Lisa Anna</div>
    <div class="text-wrapper-17">Very good</div>
    <div class="group-10">
        <div class="group-11">
            <img class="star" src="img/star-4-5.svg" />
            <div class="text-wrapper-18">4.5</div>
        </div>
    </div>
    <div class="group-12">
        <img class="image" src="img/image.png" />
        <div class="text-wrapper-6">2</div>
    </div>
    <img class="rectangle-6" src="../img/Rectangle 116.png" />
    <div class="text-wrapper-19">Chris Brown</div>
    <div class="text-wrapper-20">Perfect</div>
    <div class="group-13">
        <div class="group-2">
            <img class="star" src="img/star-4-2.svg" />
            <div class="text-wrapper-5">4</div>
        </div>
    </div>
    <div class="group-14">
        <img class="image" src="img/image-11-3.png" />
        <div class="text-wrapper-6">3</div>
    </div>
    <img class="line" src="img/line-24.svg" />
    <img class="line-2" src="img/line-25.svg" />
    <p class="p">Có thể bạn sẽ thích</p>
    <div class="text-wrapper-21">70.000 ₫</div>
    <div class="text-wrapper-22">Sản phẩm</div>
    <div class="text-wrapper-23">Danh mục</div>
    <div class="text-wrapper-24">Mô tả</div>
    <div class="frame"><div class="text-wrapper-25">Cây trong nhà</div></div>
    <div class="bt-add">
        <div class="text-wrapper-26">Thêm vào giỏ</div>
        <div class="cart"><div class="cart-2"><img src="../img/cart.png" alt="" srcset=""></div></div>
    </div>
    <div class="footer">
        <div class="overlap">
            <div class="overlap-wrapper">
                <div class="overlap">
                    <p class="text-wrapper-27">2024 - Home Sweet Garden</p>
                    <img class="line-3" src="img/line-4.svg" />
                    <div class="text-wrapper-28">Home Sweet Garden</div>
                    <p class="text-wrapper-29">2024 - Home Sweet Garden</p>
                    <img class="line-4" src="img/line-3-2.svg" />
                    <div class="text-wrapper-30">Home</div>
                    <div class="text-wrapper-31">Plants</div>
                    <div class="text-wrapper-32">About Us</div>
                    <img class="phone" src="img/phone-2.svg" />
                    <img class="location" src="img/location.svg" />
                    <div class="text-wrapper-33">+ 84 1234098765</div>
                    <p class="text-wrapper-34">Hoàn Kiếm , Hà Nội , Việt Nam</p>
                    <img class="fb" src="img/fb.png" />
                    <img class="ig" src="img/ig.png" />
                    <img class="twitter" src="img/twitter-2.png" />
                    <div class="overlap-wrapper">
                        <div class="overlap-group">
                            <div class="overlap-group-wrapper">
                                <div class="overlap-group-2">
                                    <img class="line-5" src="img/line-1.svg" />
                                    <img class="line-6" src="img/line-4-2.svg" />
                                    <div class="menu">Danh sách</div>
                                    <div class="home">Trang chủ</div>
                                    <div class="plants-2">Sản phẩm</div>
                                    <div class="text-wrapper-35">+84 0987 6543</div>
                                    <div class="about-us">Về chúng tôi</div>
                                    <p class="hanoi-architecture">Đại học Kiến Trúc Hà Nội</p>
                                    <div class="contacts">Liên hệ</div>
                                    <p class="text-wrapper-36">2024 - Home Sweet Garden</p>
                                    <img class="line-7" src="img/line-3.svg" />
                                    <img class="vector" src="img/vector.svg" />
                                </div>
                            </div>
                            <img class="location-2" src="img/location-2.svg" />
                            <img class="phone-2" src="img/phone.svg" />
                            <img class="fb-2" src="img/fb-2.png" />
                            <img class="twitter-2" src="img/twitter.png" />
                        </div>
                    </div>
                </div>
            </div>
            <img class="logo" src="img/logo.png" />
        </div>
    </div>
    <div class="overlap-2">
        <div class="frame-2">
            <img class="rectangle-7" src="../img/Rectangle 45.png" />
            <img class="rectangle-8" src="../img/Rectangle 46.png" />
            <img class="rectangle-9" src="../img/Rectangle 122.png" />
            <img class="rectangle-10" src="../img/Rectangle 120.png" />
            <img class="rectangle-11" src="../img/Rectangle 121.png" />
            <button class="element-button"><div class="text-wrapper-37">Thêm giỏ hàng</div></button>
            <button class="element-button-2"><div class="text-wrapper-37">Thêm giỏ hàng</div></button>
            <button class="element-button-3"><div class="text-wrapper-37">Thêm giỏ hàng</div></button>
            <button class="element-button-4"><div class="text-wrapper-37">Thêm giỏ hàng</div></button>
        </div>
        <div class="element-button-5"><div class="text-wrapper-37">Thêm giỏ hàng</div></div>
    </div>
    <div class="overlap-3">
        <div class="group-15">
            <img class="line-8" src="img/line-30-2.svg" /> <img class="line-9" src="img/line-31.svg" />
        </div>
        <div class="group-16"></div>
        <img class="frame-3" src="../img/Frame.png" />
    </div>
    <div class="overlap-4">
        <div class="group-17">
            <img class="line-10" src="img/line-30.svg" /> <img class="line-11" src="img/line-31-2.svg" />
        </div>
        <div class="group-18">
            <div class="text-wrapper-38">22 - 28</div>
            <div class="group-19">
                <div class="overlap-group-3">
                    <img class="icon" src="../img/Frame2.png" />
                    <div class="text-wrapper-39">c</div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-wrapper-40">High</div>
    <p class="element-ml"><span class="span">200 - 350</span> <span class="text-wrapper-41"> ml</span></p>
    <div class="frame-wrapper"><img class="frame-4" src="../img/Frame2.png" /></div>
    <div class="image-wrapper"><img class="image-2" src="../img/image 21.png" /></div>
    <div class="component-wrapper">
        <div class="component">
            <div class="overlap-group-4">
                <header class="header">
                    <div class="group-20">
                        <div class="text-wrapper-42">Trang chủ</div>
                        <div class="text-wrapper-43">Sản phẩm</div>
                        <div class="text-wrapper-44">Về chúng tôi</div>
                    </div>
                    <img class="icon-2" src="img/icon-2.svg" />
                    <img class="user-profile-circle" src="img/user-profile-circle.svg" />
                    <img class="logo-2" src="img/logo-2.png" />
                </header>
                <div class="search"></div>
            </div>
        </div>
    </div>
</div>