@page
@model IndexModel
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
@{
    ViewData["Title"] = "Home Sweet Garden";
}

<body>
    <header class="hero">
        <div class="hero-content">
            <h1>Explore the green world</h1>
        </div>
    </header>

    <section class="products">
        <h2>Sản phẩm mới</h2>
        <div class="product-list">
            @foreach(var item in Model.listNewestPlants)
            {
                <div class="product-card">
                    <a href="/detail?id=@(item.Id)" role="button"><img src="/image/plants/@item.ImageFileName" alt="Ảnh cây cảnh"></a>
                    <h3>@item.tensp</h3>
                    <p>@item.gia VND</p>
                </div>
            }           
        </div>
    </section>

    <section class="best-sellers">
        <h2>Sản phẩm bán chạy</h2>
        <div class="product-list">
            @foreach (var item in Model.listTopSales)
            {
                <div class="product-card">
                    <a href="/detail?id=@(item.Id)" role="button"><img src="/image/plants/@item.ImageFileName" alt="Ảnh cây cảnh"></a>
                    <h3>@item.tensp</h3>
                    <p>@item.gia VND</p>
                </div>
            }
        </div>
    </section>

    <section class="aboutus">
        <div class="image">
            
        </div>

        <div class="content">
            <h2>Về chúng tôi</h2>
            <span><!-- line here --></span>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>

            <ul class="links">
                <li><a href="#">Tìm hiểu thêm</a></li>
                <div class="vertical-line"></div>
                <li><a href="contactus">Liên hệ</a></li>
            </ul>

            <ul class="icons">
                <li>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                </li>
                
            </ul>
        </div>
    </section>

    <section class="why-choose-us">
        <h2>Vì sao nên chọn chúng tôi ?</h2>
        <div class="features">
            <div class="feature">
                <i class="bi bi-telephone"></i>
                <p>Dịch vụ 24/7</p>
            </div>
            <div class="feature">
                <i class="bi bi-truck"></i>
                <p>Vận chuyển nhanh</p>
            </div>
            <div class="feature">
                <i class="bi bi-calendar2-check"></i>
                <p>Bảo hành 5 ngày</p>
            </div>
        </div>
    </section>

</body>