@page
@model IndexModel
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
@{
    ViewData["NoContainer"] = true;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h4>Đang ở homepage</h4>
