@page
@model Website_Plant.Pages.thankyouModel
@section Styles {
    <link rel="stylesheet" href="~/css/thankyou.css" />
}
<div class="main-content">
    <div class="card-success">
        <img src="~/image/check_success.png" width="144" height="144" />
        <h1>Đơn hàng được đặt thành công</h1>
        <div class="button-back">
            <a href="/">Về Trang chủ</a>
        </div>
    </div>
</div>

