html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fef7ef;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

img {
    cursor: pointer;
}

.container {
    display: flex;
}
/* Header */

.bg {
    width: 100%;
    height: 845px;
    object-fit: cover;
}

.news-container {
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.news-above {
    width: 600px;
    font-size: 120px;
    font-family: "Inter";
    margin-left: 485px;
    font-weight: 700;
    color: #ffffff;
}

.news-below {
    font-family: Inter;
    font-size: 95px;
    font-weight: 700;
    width: 1090px;
    color: #ffffff;
}

/* story */

.story {
    display: flex;
    margin-top: 350px;
    margin-left: 300px;
    justify-content: space-between;
}

.story-title {
    width: Fixed (556px) px;
    height: Hug (120px) px;
    top: 111px;
    font-size: 60px;
    font-weight: 600;
    left: 155px;
    gap: 18px;
    opacity: 0px;
}

.story-4year {
    margin-top: 30px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4f9450;
}

.story-left {
    width: 600px;
}

.story-right {
    margin-right: 360px;
}

.story-desc1 {
    font-family: Inter;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 400;
    line-height: 36.31px;
    text-align: justified;
    width: 508px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.story-desc2 {
    margin-top: 30px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    width: 500px;
    line-height: 33.89px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.story-image {
    width: 550px;
    height: 480px;
}

/* stat */

.stat {
    margin-top: 50px;
    height: 200px;
    background-color: #c1ceb2;
}

.stat-container {
    display: flex;
    gap: 300px;
    margin-left: 300px;
}

.stat-item1 {
    margin-top: 50px;
    font-family: Rufina;
    font-size: 50px;
    font-weight: 700;
    margin-left: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.stat-item2 {
    font-family: Inter;
    font-size: 45px;
    font-weight: 400;
    line-height: 54.46px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Member */

.members-title {
    margin-top: 60px;
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-weight: 600;
    line-height: 84px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* member */

.member-items {
    margin-top: 50px;
    display: flex;
    margin-left: 400px;
}

.member-image {
    width: 443px;
    height: 484px;
}

.member-items--right {
    width: 469px;
    margin-left: 130px;
}

.member_left--title {
    margin-top: 20px;
    font-family: Inter;
    font-size: 55px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.member_left--desc {
    margin-top: 150px;
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
    line-height: 37.8px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.member-add1 {
    margin-left: 0;
}

.member-add2 {
    margin-right: 60px;
}

.member-list {
    margin-top: 100px;
}

/* review */

.review-title {
    margin-top: 100px;
}

.review {
    height: 1100px;
}

.review-title123 {
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 84px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.review-box {
    width: 921px;
    height: 200px;
    top: 329px;
    left: 243px;
    margin-left: 550px;
    gap: 0px;
    border-radius: 25px 25px 25px 25px;
    opacity: 0px;
    box-shadow: 23px 24px 24px -4px #00000040;
    background-color: #ffffff;
}

.review-img {
    margin-left: -70px;
    margin-top: 20px;
}

.review-container {
    display: flex;
    justify-content: space-between;
    margin-top: -240px;
    margin-left: 80px;
}

.review-title {
    font-family: Rufina;
    font-size: 35px;
    font-weight: 400;
    line-height: 43.23px;
    text-align: left;
    text-underline-position: from-font;
    color: linear-gradient(90deg, #636363 0%, #a2ab58 100%);
    text-decoration-skip-ink: none;
}

.review-paah {
    margin-top: 70px;
    margin-right: 10px;
    font-family: Rufina;
    font-size: 55px;
    font-weight: 700;
    line-height: 120px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #e23fdb;
}

.review-desc {
    width: 560px;
    margin-top: -10px;
    margin-left: 80px;
    font-family: Rufina;
    font-size: 32px;
    font-weight: 400;
    line-height: 39.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 350px;
}

.review-box-1 {
    margin-top: 30px;
}

.review-box-2 {
    margin-top: 30px;
    margin-left: 680px;
}

.review-title1 {
    margin-right: 80px;
}

.review-desc1 {
    margin-left: 300px;
}

.review-desc3 {
    width: 480px;
}

.review-img1 {
    margin-top: 35px;
    margin-left: 850px;
}

.review-paah1 {
    margin-left: -50px;
}
