body {
    font-family: 'Inter', sans-serif;
}
.header {
    height: 80px;
    background-color: #1F3505;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}
.header-nav {  
    display: flex;
    justify-content: space-between;
}
.header-nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.header-nav_item {
    color: white;
    display: flex;
    align-items: center;
}
.header-nav_item i{
    margin-right: 8px;
    font-size: 24px;
}
.header-nav-item-link {
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.header-nav-item-link:hover {
    color: white;
}
.grid {
    width: 1400px;
    max-width: 100%;
    margin: auto;
}
.body-admin {
    padding-left: 60px;
    padding-right: 60px;
}
.grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 24px;
}
.grid_column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
    position: sticky;
    top: 0; 
    height: 100vh;
    overflow-y: auto;
}
.menu {
    position: relative;
}
.menu::before {
    content: ""; 
    position: absolute;
    top: 50%; 
    right: 0;
    width: 1px;
    height: 100%; 
    background-color: #EFEFEF;
    transform: translateY(-50%); 
}
.tmp {
    height: 500px;
}
.grid_column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}
.avatar_admin {
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    padding: 12px 8px;
    border-radius: 8px;
}
.avatar_admin h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}
.avatar_admin-image {
    border-radius: 100px;
    margin-right: 8px;
}
.menu-list {
    padding-left: 0px;
    list-style: none;
    margin-top: 12px;
    margin-bottom: 0px;
}
.menu-item, .menu-item--active {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}
.menu-item--active {
    background-color: #F4FDF4;
    border-radius: 12px;
}
.menu-item--active a{
    text-decoration: none;
    color: #016D06;
    font-size: 14px;
}

.menu-item--active a:hover {
    color: #016D06;
}

.menu-item--active i{
    color: #016D06;
    font-size: 20px;
    text-shadow: 0.1px 0.1px 0 black, -0.1px -0.1px 0 black, 0.1px -0.1px 0 black, -0.1px 0.1px 0 black;
}
.menu-item_link {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.menu-item_link:hover {
    color:black;
}
.menu-item--icon {
    color: black;
    font-size: 20px;
    text-shadow: 0.1px 0.1px 0 black, -0.1px -0.1px 0 black, 0.1px -0.1px 0 black, -0.1px 0.1px 0 black;
}