* {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    background-color: #fef7ef;
}
.alert-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-padding {
    padding: 16px 200px 16px 200px;
}
.alert-no-margin {
    margin: 0;
}
.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    width: 700px;
    height: 550px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: #c1ceb2;
    flex-wrap: wrap;
}

        .container form h1 {
            color: #1f3506;
            font-size:1.8rem;
            line-height: 2;
            margin-top: 20px;
            width: 500px;
            text-align: center;
            font-weight: bold;
        }

        .container form input {
            width: 300px;
            height: 50px;
            padding-left: 10px;
            outline: none;
            border: none;
            font-size: 20px;
            margin-bottom: 20px;
            background: none;
            border-bottom: 2px solid #1f3506;
            color: #1f3506;
        }

            .container form input::placeholder {
                color: #859078;
            }

        .container form #email {
            width: 620px; 
        }

        .container form #phone {
            margin-left: 20px;
        }

            .container form h4 {
                color: #fff;
                font-weight: 300;
                width: 600px;
                margin-top: 20px;
            }

        .container form textarea {
            background: none;
            border: none;
            border-bottom: 2px solid #1f3506;
            color: #1f3506;
            font-weight: 400;
            font-size: 20px;
            padding: 10px;
            outline: none;
            min-height: 90px;
            height: 200px;
            min-width: 620px;
            max-width: 620px;
        }
            .container form textarea::placeholder {
                color: #859078;
                font-weight: 400;
            }

        .container form h4 {
            font-size: 20px;
            color: #1f3506;
        }

        .container form #button {
            border: none;
            background: #1f3506;
            border-radius: 30px;
            margin:30px;
            margin-top: 20px;
            font-weight: 400;
            font-size: 24px;
            color: #fff;
            width: 150px;
            height: 55px;
            padding: 0;
            margin-bottom: 30px;
            transition: 0.3s;
        }

            .container form #button:hover {
                background: #4b694a;
                color: #fff;
                transition: .3s ease-in-out;
            }
.textarea-message {

}