.title-buttonAdd-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-buttonAdd-item h1 {
    font-size: 34px;
}
.navbar-listtext {
    list-style: none;
    display: flex;
    padding-left: 0;
}
.navbar-listtext-item {
    margin-right: 10px;
}
.navbar-listtext-item--active{
    font-weight: bold;
}
.navbar-listtext-item-link {
    text-decoration: none;
    color: #505059;
}
.navbar-listtext-item-link:hover {
    color: #505059;
}
.navbar-listtext-item-icon {
    font-size: 12px;
}

/*Phan thong tin chung*/
.form-list {
    list-style: none;
    padding-left: 0;
}
.form-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
    box-shadow: 0 2px 2px rgba(16,24,40,0.1);
}
.form-item h2{
    font-size: 18px;
    color: #1A1C21;
    padding: 8px 0;
}
.form-item-input {

}
.form-infoCommon-list {
    list-style: none;
    padding-left: 0;
}
.form-infoCommon-item {
    margin: 7px 0;
}
.form-infoCommon-item h4{
    font-size: 14px;
    color: #4D5464;
}
.form-infoCommon-item-input {
    width: 100%;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    height: 40px;
    padding: 0 12px;
    background-color: #F9F9FC;
}
.form-infoCommon-item-input::placeholder {
    color: #858D9D;
}
.form-infoCommon-item-input:focus {
    border-color: #4F9450;
    outline: none;
    box-shadow: 0 0 6px rgba(79,148,80,0.5);
}
.form-infoCommon-item-textarea {
    width: 100%;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    height: 156px;
    padding: 8px 12px;
    background-color: #F9F9FC;
}
.form-infoCommon-item-textarea::placeholder {
    color: #858D9D;
}
.form-infoCommon-item-textarea:focus {
    border-color: #4F9450;
    outline: none;
    box-shadow: 0 0 6px rgba(79,148,80,0.5);
}
.form-infoCommon-item-select {
    width: 100%;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    height: 40px;
    padding: 0 12px;
    background-color: #F9F9FC;
}
.form-infoCommon-item-select:focus {
    border-color: #4F9450;
    outline: none;
    box-shadow: 0 0 6px rgba(79,148,80,0.5);
}
/*-------------------*/

/* Phan gia sp*/
.form-item-input {
    width: 100%;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    height: 40px;
    padding: 0 12px;
    background-color: #F9F9FC;
}
.form-item-input::placeholder {
    color: #858D9D;
}
.form-item-input:focus {
    border-color: #4F9450;
    outline: none;
    box-shadow: 0 0 6px rgba(79,148,80,0.5);
}
/*---------*/

.form-item > .form-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-item-file {
    display: none;
}

.custom-file {
    display: inline-block;
    padding: 8px 12px;
    color: #4D5464;
    background-color: #DBDBDB;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-align: center;
    border: 1px solid #DBDBDB;
}

.file-name {
    font-size: 14px;
    display: inline-block;
    background-color: #F9F9FC;
    color: #858D9D;
    border: 1px;
    width: calc(100% - 86px);
    text-align: left;
    padding: 8px 12px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
}

/*Phan button*/
.form-button-list {
    list-style: none;
    padding-left: 0;
    display:flex;
    margin-bottom: 100px;
}
.form-button-item {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.form-button-item i{
    font-size: 20px;
    color: #858D9D;
}
.form-button-link {
    text-decoration: none;
    color: #858D9D;
    
}
.form-border-link {
    border: 1px solid #858D9D;
    font-size: 14px;
    padding: 4px 14px;
    border-radius: 8px;
}
.form-button-link:hover {
    color: #858D9D;
}
.form-button-submit {
    border: none;
    background-color: #1F3505;
    color: white;
    border-radius: 8px;
    padding: 8px 14px;
}