body {
    background: #fef7ef;
}

a {
    text-decoration: none;
    color: black;
}

.smile-container {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
}

.div1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.div2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.products {
    margin-top: 50px;
}
.product_img {
    height: 400px;
    width: 300px;
}
.sanpham {
    height: 400px;
    width: 300px;
}
.products_container {
    display: flex;
    margin-left: 180px;
    align-items: center;
    gap: 150px;
}

.products_container--title {
    font-family: Inter;
    font-size: 25px;
    font-weight: 200;
    line-height: 20px;
    margin-top: 20px;
    color: #757575;
}

.products_container--price {
    margin-top: 40px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 300;
    line-height: 65px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: linear-gradient(0deg, #1f3505, #1f3505), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.products_container--1 {
    margin-top: 20px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
}

.products_container--name {
    width: 200px;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 99px;
    padding: 8px 13px 8px 13px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 300;
    line-height: 20px;
    text-align:center;
    margin-bottom: 100px;
}

.products_container--cart {
    border-radius: 99px;
    background: #5b6b48;
    width: 250px;
}


.products_cartTitle {
    font-family: Inter;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
}
.products_cartTitle i {
        padding-right: 20px;
}
   

.tapa {
        margin-top: 50px;
        margin-left: 180px;
    }

.tapa-container {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.note {
    display: flex;
    gap: 50px;
    margin-left: 52px;
}
.tapa-contain {
    display: flex;
    gap: 100px;
    margin-left: 50px;
}


.img-icon {
    padding: 10px 10px 10px 10px;
    border-radius: 999px;
    background: #c1ceb2;
}

.tapa_test--desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-left: 13px;
    margin-top: 10px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.tapa_test--desc1 {
    margin-left: 45px;
}

.tapa_test--desc2 {
    margin-left: 15spx;
}

.tapa-img2 {
    margin-left: 470px;
}
.tapa-right{
    width:650px;
}
.tapa_right--title {
    margin-left: 30px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.tapa_right--desc {
    margin-left: 30px;
    width: 600px;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    justify-content: space-between;
    text-align: justify;
}

.seprate {
    margin-left: 450px;
    margin-top: 200px;
    justify-content: center;
}

.seprate1 {
    margin-left: 450px;
    margin-top: 100px;
    justify-content: center;
}

.review-title {
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    margin-top: 100px;
    margin-left:170px;
}

.review-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.review-container1 {
    display: flex;
}

.review-container__right {
    width: 300px;
}

.review-stat {
    margin-left: 30px;
}

.review-container__left {
    display: flex;
}

.review-statcontainer {
    display: flex;
}

.review-like {
    margin-left: 50px;
    width: 70px;
    height: 60px;
    margin-top: 60px;
}

.review-statName {
    font-family: Rufina;
    font-size: 35px;
    font-weight: 400;
    line-height: 52.5px;
    text-align: left;
    margin-right: 30px;
}

.review-encourge {
    font-family: Rufina;
    font-size: 28px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}

.review-like-zzz {
    margin-left: 115px;
}


.favorite_title {
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-weight: 500;
    line-height: 72.61px;
    text-align: center;
    margin-top: 100px;
}

.containerflower {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
