html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fef7ef;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

img {
    cursor: pointer;
}

.container {
    display: flex;
}

/* smile */

.smile-container {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
}

.div1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.div2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* product */
.products {
    margin-top: 50px;
}

.products_container {
    display: flex;
    margin-left: 180px;
    align-items: center;
    gap: 270px;
    justify-content: flex-start;
}

.products_container--title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
}

.products_container--price {
    margin-top: 90px;
    font-family: Inter;
    font-size: 60px;
    font-weight: 500;
    line-height: 72.61px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: linear-gradient(0deg, #1f3505, #1f3505), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.products_container--1 {
    margin-top: 30px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
}

.products_container--name {
    width: 240px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 99px;
    padding: 8px 10px 8px 17px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36.31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 150px;
}

.products_container--cart {
    display: flex;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 99px;
    border-color: #1f350580;
    padding: 8px 30px 8px 40px;
    background: #1f350580;
}

/*.svg {
    margin-top: 8px;
    margin-right: 20px;
}*/

.products_cartTitle {
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

/* tapa */

.tapa {
    margin-top: 50px;
    margin-left: 180px;
}

.tapa-container {
    display: flex;
}

.tapa-contain {
    display: flex;
    gap: 80px;
    margin-left: 50px;
}

.tapa-container-left {
    width: 700px;
}

.img-icon {
    padding: 20px 25px 20px 25px;
    border: 1px solid #c1ceb2;
    border-radius: 999px;
    background: #c1ceb2;
}

.tapa_test--desc {
    font-family: Nunito;
    font-size: 25px;
    font-weight: 400;
    line-height: 34.1px;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.tapa_test--desc1 {
    margin-left: -5px;
}

.tapa_test--desc2 {
    margin-left: 8px;
}

.tapa-img2 {
    margin-left: 600px;
}

.tapa_right--title {
    margin-left: 30px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.tapa_right--desc {
    margin-left: 30px;
    width: 500px;
    margin-top: 50px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.seprate {
    margin-top: 300px;
    margin-left: 650px;
}

.seprate1 {
    margin-top: 100px;
    margin-left: 650px;
}

/* review */

.review-title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.review-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.review-container1 {
    display: flex;
}

.review-container__right {
    width: 300px;
}

.review-stat {
    margin-left: 30px;
}

.review-container__left {
    display: flex;
}

.review-statcontainer {
    display: flex;
}

.review-like {
    margin-left: 50px;
    width: 80px;
    height: 90px;
    margin-top: 60px;
}

.review-statName {
    font-family: Rufina;
    font-size: 35px;
    font-weight: 400;
    line-height: 52.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.review-encourge {
    font-family: Rufina;
    font-size: 28px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.review-like-zzz {
    margin-left: 115px;
}
/* favorite */

.favorite_title {
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-weight: 500;
    line-height: 72.61px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 100px;
}

.containerflower {
    display: flex;
    justify-content: center;
    align-items: center;
}
