.title-buttonAdd-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-buttonAdd-link {
    text-decoration: none;
    color: white;
    font-style: normal;
    background-color: #1F79BE;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
}
.title-buttonAdd-link:hover {
    color: white;
    
}
.title-buttonAdd-link:active {
    opacity: 0.8;
    transition: opacity 0.1s ease;
}
.title-buttonAdd-item h1 {
    font-size: 34px;
}
.content-table {
    margin: 25px 0;
    font-size: 14px;
    min-width: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -1px 2px 0 0 rgba(16,24, 40, 0.1);
    width: 100%;
}
.content-table thead tr {
    background-color: #F9F9FC;
    color: #333843;
    text-align: left;
}
.content-table thead tr th, .content-table tbody tr td {
    font-weight: 500;
}
.content-table th, .content-table td {
    padding: 18px 22px;
}
.tbody-td-masp {
    color: #5C59E8;
    font-weight: bold !important;
    text-align: center;
}
.content-table tbody tr {
    border-bottom: 1px solid #F0F1F3;
}
.tbody-td-other {
    color: #667085;
    text-align: center !important;
}
.thead-th-other {
    text-align:center;
    font-weight: bold !important;
}
.tbody-td-link {
    text-decoration: none;
    color: #667085;
    font-size: 20px;
}
.tbody-td-link:hover {
    color: #667085;
}
.pagination-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    margin-bottom: 50px;
}
.pagination-admin-item {
    background-color: #E5E8E6;
    border-radius: 8px;
    margin: 0 4px;
}
.pagination-admin-item-link {
    display: block;
    text-decoration: none;
    color: #4F9450;
    min-width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-weight: 500;
}
.pagination-admin-item--active .pagination-admin-item-link {
    background-color: #4F9450;
    color: white;
    border-radius: 8px;
}
.pagination-admin-item--active .pagination-admin-item-link:hover {
    color: white;
}
.pagination-admin-item-link:hover {
    color: #4F9450;
}
.badge-success {
    background-color: #E7F7EF;
    padding: 4px 16px;
    font-size: 10px;
    font-weight: bold;
    color: #0CAF60;
    border-radius: 8px;
}
.badge-warning {
    background-color: #FFF6D3;
    padding: 4px 16px;
    font-size: 10px;
    font-weight: bold;
    color: #E6BB20;
    border-radius: 8px;
}