/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
html, body {
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column; 
}
body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #1F3505;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#nav li {
    display: inline-block;
}
#nav a {
    font-size: 17px;
    color: #B0B0B0;
    text-decoration: none;
    line-height: 100px;
    padding: 0 25px;
    font-family: 'Inter'
}

    #nav a.active {
        color: white ;
    }
.header-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header-nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}
    .header-nav-list a {
        
        text-decoration: none;
        
    }
.header-nav ul{
    margin-bottom: 0;
}
.header-nav_item {
    color: #B0B0B0;
    display: flex;
    align-items: center;
}

.header-nav-item-link {
    font-size: 18px;
    text-decoration: none;
    color: #B0B0B0;
}
.header-icons {
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 0;
}
.header-icons-person {
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 80px;
    position: relative;
}
.header-icon-link {
    color: white;
}
.header-icon-link:hover {
    color: white;
}
/*Hover icon person*/
.header-person-menu{
    position: absolute;
    top: 100%;
    right: 5px;
    width: 180px;
    background-color: #fef7ef;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
    display: none;
}
.header-icons-person:hover .header-person-menu {
    display: block;
}
.header-person-list {
    list-style: none;
    padding: .5rem 0;
}
.header-person-item {
    padding: 4px 24px;
    font-size: 16px;
}
.header-person-item:hover{
    background-color: #EDE8E3;
}
.header-person-link {
    color: #1F3505;
}
.header-person-link:hover{
    color: #1F3505;
}
.header-person-menu::after {
    content: "";
    position: absolute;
    right: 10px;
    top: -17px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #fef7ef transparent;
}

.button-signinup {
    border: 1px solid #B0B0B0;
    font-size: 17px !important;
    padding: 8px 12px;
    border-radius: 8px;
    margin-left: 8px;
    color: #B0B0B0 !important;
}
.button-signinup:hover {
    border: 1px solid white;
    color: white!important;
}
.btn-signup{
    margin-left: 12px;
}
.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
    .grid-full-width{
        width:100%;
    }
    .grid-row{
        display:flex;
        flex-wrap:wrap;
        margin-left:-5px;
        margin-right:-5px;
    }
.grid-row-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 27%;
}


    .footer {
        background-color: #1F3505;
    }

h {
    padding-left: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}
.footerlogo {
   padding-top: 15px;
   align-items:center;
}
.footerlogo img {
    width: 180px;
    height: 180px;
}

.footer-links {
    margin-top: 40px;
    margin-bottom: 30px;
}

    .footer-links ul {
        list-style: none;
        padding-left: 40px;
        border-left: 2px solid #f9f9f9;
    }

    .footer-links li {
        margin: 15px 0;
    }

    .footer-links a {
        text-decoration: none;
        color: #ffffff;
    }


.footer-contact {
    margin-top: 40px;
    margin-bottom: 30px;
}

    .footer-contact ul {
        list-style: none;
        padding-left: 40px;
        border-left: 2px solid #ffffff;
    }

    .footer-contact li {
        margin: 15px 0;
        color: #ffffff;
    }

    .footer-contact a {
        text-decoration: none;
        color: #ffffff;
    }

.social-icons {
    display: flex;
    gap: 30px;
}
    .social-icons a :hover {
        color: #B0B0B0;
    }

.footer-bottom {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    border-top: 2px solid #f9f9f9;
    padding-top: 20px;
}
.footer-links a:hover {
    color: #B0B0B0; /* Đổi màu liên kết khi hover */
}
