@page
@model Website_Plant.Pages.Auth.signinModel
@{
	Layout = "_AuthenticationLayout";
	ViewData["Title"] = "Đăng nhập";
}
@section Styles {
	<link href="~/css/signin.css" rel="stylesheet">
}


<div class="login-box">
	<div class="img-login">
		<img src="~/image/caydn.png" alt="Ảnh đăng nhập" class="" />
	</div>

	<form class="form-section">
		<h1>Đăng nhập</h1>
		<input id="email" type="text" placeholder="Email" />
		<input id="password" type="password" placeholder="Mật khẩu" />
		<button class="login-button" type="button">Đăng nhập</button>
		<div class="signup-link">
			<span>Bạn chưa có tài khoản?</span> <a href="signup">Đăng ký</a>
		</div>
	</form>

</div>