@page
@model Website_Plant.Pages.Auth.signupModel
@{
	Layout = "_AuthenticationLayout";
	ViewData["Title"] = "Đăng kí";
}

@section Styles {
	<link href="~/css//signup.css" rel="stylesheet">
}

<div class="login-box">
	<div class="img-login">
		<img src="~/image/caydk.png" alt="Ảnh đăng ký" class="" />
	</div>

	<form class="form-section">
		<h1>Đăng kí</h1>
		<input id="name" type="text" placeholder="Tên"/>
		<input id="email" type="text" placeholder="Email" />
		<input id="password" type="password" placeholder="Mật khẩu" />
		<input id="passwordagain" type="password" placeholder="Nhập lại mật khẩu" />
		<button class="login-button" type="button">Đăng ký</button>
		<div class="signup-link">
			<span>Bạn đã có tài khoản?</span> <a href="signin">Đăng nhập</a>
		</div>
	</form>

</div>
@section Scripts {
	<script>

	</script>
}

