@page
@model Website_Plant.Pages.Admin.Plant.IndexModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ProductManagement.css" />
}
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Quản lý sản phẩm</h1>
    </li>
    <li class="title-buttonAdd-item">
        <a href="#" class="title-buttonAdd-link">
            <span class="bi bi-plus"></span> Thêm sản phẩm
        </a>
    </li>   
</ul>
<form class="d-flex" role="search">
    <input class="form-control search-input me-2" type="search" placeholder="Nhập tên sản phẩm" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
</form>
<table class="content-table">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th class="thead-th-other">Mã sản phẩm</th>
            <th class="thead-th-other">Danh mục</th>
            <th class="thead-th-other">Giá</th>
            <th class="thead-th-other">Ngày thêm</th>
            <th class="thead-th-other"> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="/image/plant_temp.png" width="80" height="80" />
                <span>Cây Huyết Dụ</span>
            </td>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">Cây trong nhà</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-pencil" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/image/plant_temp.png" width="80" height="80" />
                <span>Cây Huyết Dụ</span>
            </td>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">Cây trong nhà</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-pencil" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/image/plant_temp.png" width="80" height="80" />
                <span>Cây Huyết Dụ</span>
            </td>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">Cây trong nhà</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-pencil" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/image/plant_temp.png" width="80" height="80" />
                <span>Cây Huyết Dụ</span>
            </td>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">Cây trong nhà</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-pencil" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/image/plant_temp.png" width="80" height="80" />
                <span>Cây Huyết Dụ</span>
            </td>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">Cây trong nhà</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-pencil" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/image/plant_temp.png" width="80" height="80" />
                <span>Cây Huyết Dụ</span>
            </td>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">Cây trong nhà</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-pencil" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/image/plant_temp.png" width="80" height="80" />
                <span>Cây Huyết Dụ</span>
            </td>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">Cây trong nhà</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-pencil" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
    </tbody>
</table>