@page
@model Website_Plant.Pages.Admin.Plant.IndexModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ProductManagement.css" />
}
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Quản lý sản phẩm</h1>
    </li>
    <li class="title-buttonAdd-item">
        <a href="#" class="title-buttonAdd-link">
            <span class="bi bi-plus"></span> Thêm sản phẩm
        </a>
    </li>   
</ul>
<form class="d-flex" role="search">
    <input class="form-control search-input me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
</form>