@page
@model Website_Plant.Pages.Admin.Message.DetailModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/DetailMessage.css" />
}
<div class="navbar-con">
    <ul class="navbar-listtext">
        <li class="navbar-listtext-item">
            <a href="/Admin/Message" class="navbar-listtext-item-link">Danh sách thư liên hệ</a>
        </li>
        <li class="navbar-listtext-item">
            <i class="navbar-listtext-item-icon bi bi-chevron-right"></i>
        </li>
        <li class="navbar-listtext-item navbar-listtext-item--active">
            <span class="navbar-listtext-item-link">Chi tiết liên hệ</span>
        </li>
    </ul>
</div>
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Chi tiết thư liên hệ</h1>
    </li>
    <li class="title-buttonAdd-item">
        <h2>ID: 20</h2>
    </li>
</ul>
<div class="col-lg-6 table-order">
        <h3>Thông tin liên hệ</h3>
        <table class="table">
            <tr>
                <td>Người gửi</td>
                <td>Nguyễn Văn A</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>laura_prichet@mail.com</td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>078 5054 8877</td>
            </tr>
            <tr>
                <td>Ngày gửi</td>
                <td>01/01/2025</td>
            </tr>
        </table>
</div>
<div class="textarea-box">
    <h3>Lời nhắn</h3>
    <textarea readonly class="textarea-box-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam nisl, lacinia eu dictum et, porta id diam. Nam pellentesque eu turpis eget sagittis. Pellentesque leo purus, consectetur et mauris nec, mattis mollis ex. Maecenas consectetur non ligula ut laoreet. Pellentesque nec posuere sapien.
        Vestibulum eleifend urna sed magna condimentum venenatis.</textarea>
</div>