@page
@model Website_Plant.Pages.Admin.Message.IndexModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/MessageManagement.css" />
}
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Danh sách thư liên hệ</h1>
    </li>
</ul>
<table class="content-table">
    <thead>
        <tr>
            <th class="thead-th-other">ID</th>
            <th class="thead-th-other">Họ và Tên</th>
            <th class="thead-th-other">Email</th>
            <th class="thead-th-other">Số điện thoại</th>
            <th class="thead-th-other">Ngày gửi</th>
            <th class="thead-th-other"> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tbody-td-bold">20</td>
            <td class="tbody-td-bold">Nguyễn Văn A</td>
            <td class="tbody-td-other">laura_prichet@mail.com</td>
            <td class="tbody-td-other">078 5054 8877</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="/Admin/Message/Detail"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-bold">20</td>
            <td class="tbody-td-bold">Nguyễn Văn A</td>
            <td class="tbody-td-other">laura_prichet@mail.com</td>
            <td class="tbody-td-other">078 5054 8877</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-bold">20</td>
            <td class="tbody-td-bold">Nguyễn Văn A</td>
            <td class="tbody-td-other">laura_prichet@mail.com</td>
            <td class="tbody-td-other">078 5054 8877</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-bold">20</td>
            <td class="tbody-td-bold">Nguyễn Văn A</td>
            <td class="tbody-td-other">laura_prichet@mail.com</td>
            <td class="tbody-td-other">078 5054 8877</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-bold">20</td>
            <td class="tbody-td-bold">Nguyễn Văn A</td>
            <td class="tbody-td-other">laura_prichet@mail.com</td>
            <td class="tbody-td-other">078 5054 8877</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-bold">20</td>
            <td class="tbody-td-bold">Nguyễn Văn A</td>
            <td class="tbody-td-other">laura_prichet@mail.com</td>
            <td class="tbody-td-other">078 5054 8877</td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
                &nbsp;
                <a class="tbody-td-link bi bi-trash" href="#"></a>
            </td>
        </tr>
    </tbody>
</table>
<ul class="pagination-admin">
    <li class="pagination-admin-item pagination-admin-item--active">
        <a class="pagination-admin-item-link" href="#">1</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">2</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">3</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">4</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">5</a>
    </li>
</ul>