@page
@model Website_Plant.Pages.Admin.Order.IndexModel
@{
    Layout = "_LayoutAdmin";
}
@section Styles {
    <link rel="stylesheet" href="~/css/OrderManagement.css" />
}
<ul class="title-buttonAdd-list">
    <li class="title-buttonAdd-item">
        <h1>Danh sách đơn hàng</h1>
    </li>
</ul>
<table class="content-table">
    <thead>
        <tr>
            <th class="thead-th-other">Mã đơn hàng</th>
            <th class="thead-th-other">Số sản phẩm</th>
            <th class="thead-th-other">Ngày đặt</th>
            <th class="thead-th-other">Tổng tiền</th>
            <th class="thead-th-other">Phương thức thanh toán</th>
            <th class="thead-th-other">Trạng thái đơn hàng</th>
            <th class="thead-th-other"> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">10</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">Thanh toán khi nhận hàng</td>
            <td class="tbody-td-other">
                <span class="badge-success">Đã xác nhận</span>
            </td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="/Admin/Order/Detail"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">10</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">Thanh toán khi nhận hàng</td>
            <td class="tbody-td-other">
                <span class="badge-warning">Chờ xác nhận</span>
            </td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">10</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">Thanh toán khi nhận hàng</td>
            <td class="tbody-td-other">
                <span class="badge-success">Đã xác nhận</span>
            </td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">10</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">Thanh toán khi nhận hàng</td>
            <td class="tbody-td-other">
                <span class="badge-warning">Chờ xác nhận</span>
            </td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">10</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">Thanh toán khi nhận hàng</td>
            <td class="tbody-td-other">
                <span class="badge-success">Đã xác nhận</span>
            </td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
            </td>
        </tr>
        <tr>
            <td class="tbody-td-masp">12</td>
            <td class="tbody-td-other">10</td>
            <td class="tbody-td-other">01/01/2025</td>
            <td class="tbody-td-other">120000</td>
            <td class="tbody-td-other">Thanh toán khi nhận hàng</td>
            <td class="tbody-td-other">
                <span class="badge-warning">Chờ xác nhận</span>
            </td>
            <td class="tbody-td-other">
                <a class="tbody-td-link bi bi-eye" href="#"></a>
            </td>
        </tr>
    </tbody>
</table>
<ul class="pagination-admin">
    <li class="pagination-admin-item pagination-admin-item--active">
        <a class="pagination-admin-item-link" href="#">1</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">2</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">3</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">4</a>
    </li>
    <li class="pagination-admin-item">
        <a class="pagination-admin-item-link" href="#">5</a>
    </li>
</ul>